/* 
    index.css
*/
:root {
    --grey: #6B6B6B;
    --white: #e7e5e5;
    --black: #050505;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    cursor: none;
    
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    
    /* Disable the highlight */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
    height: 200vh;
    transition: background-color 0.8s ease;
}
body[data-mode="dark"] {
    background-color: var(--black);
    color: var(--white);
}
body[data-mode="light"] {
    background-color: var(--white);
    color: var(--black);
}

/* 
    Section: Navigation Bar
*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;

    /* Center div */
    display: flex;
    flex-wrap: nowrap; /* It doesn't go down */
    align-items: center;
    justify-content: center;

    z-index: 2;
}
nav a {
    color: inherit;
}
.nav-cmdbox {
    position: relative;
}
.nav-cmdbox i {
    position: absolute;
    left: 50px;
    top: 24px;
    z-index: 1;
}
.nav-cmdbox input {
    margin: 0 25px 0 25px;
    border-radius: 15px;
    padding: 14px 1em 1em 4em;
    width: 35em;

    backdrop-filter: blur(10px);
    
    background-color: rgba(88, 88, 88, 0.3);
    color: inherit;

    border: none;
    
}
.nav-cmdbox input[type=text]:hover {
    transition: all 0.5s ease;
    background-color: rgba(121, 121, 121, 0.3);
}
nav #icon {
    margin-right: 25px;

}
#icon:hover {
    transition: all 0.2s ease;
    color: #474747;
}

/* 
    Section: Hero
*/
.hero-section {
    position: relative;
    height: 20em;
    margin-top: 90px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: inherit;
}
.hero-section-1 {
    display: flex;
    align-items: center;
}
.hero-filebox {
    border: 1px solid var(--grey);
    padding: 10px 15px;
    border-radius: 50px;
    margin-right: 15px;
    color: inherit;
}
.hero-filebox i {
    padding-right: 6px;
    color: inherit;
}
.hero-status-container {
    color: inherit;
}
.hero-status-container span {
    margin-right: 8px;
}
.hero-status-online {
    height: 10px;
    width: 10px;
    background-color: #00A307;
    border-radius: 50%;
    display: inline-block;
}
.hero-introduction {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.hero-introduction span {
    padding-bottom: 12px;
}

/* 
    Section: Tools/Expertise 
*/
.tools-section {
    display: flex;
    white-space: nowrap;
    align-items: center;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.textdraw-slide {
    display: inline-block;
    animation: 100s slide infinite linear;
}
.textdraw-slide img {
    height: 45px;
    margin: 0 40px;
}
.tools-section:hover .textdraw-slide {
    animation-play-state: paused;
}
.tools-section::before, .tools-section::after {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    content: "";
    z-index: 1;
    transition: background-color 0.8s ease;
}
body[data-mode="dark"] .tools-section::before {
    left: 0;
    background-color: var(--black);
}
body[data-mode="dark"] .tools-section::after {
    right: 0;
    background-color: var(--black);
}
body[data-mode="light"] .tools-section::before {
    left: 0;
    background-color: var(--white);
}
body[data-mode="light"] .tools-section::after {
    right: 0;
    background-color: var(--white);
}

/*
    Cursor Pointer
*/
.circle {
    height: 10px;
    width: 10px;
    border-radius: 24px;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
}
body[data-mode="dark"] .circle {
    background-color: var(--white);
}
body[data-mode="light"] .circle {
    background-color: var(--black);
}