
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
    font-size: 16px;

    /* Disable the highlight */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    height: 200vh;
    font-family: "Ubuntu", sans-serif;
    background-color: #050505;
}

/* Navigation bar */
nav {
    position: fixed;
    width: 100%;
    top: 0;
  
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline-flex;
}

.nav-cmdbox {
    background-color: rgba(31, 31, 31, 0.3);
    padding: 14px 30em 1em 1em;
    margin: 0 20px 0 20px;
    border-radius: 15px;
    border: 1px solid rgb(31, 31, 31);
    backdrop-filter: blur(10px);
}

.nav-cmdbox:hover {
    transition: all 0.5s ease;
    background-color: rgba(88, 88, 88, 0.3);
    border: 1px solid rgb(143, 141, 141);
}

.nav-cmdbox ul li p {
    padding-left: 10px;
}

.nav-icons ul li {
    padding-right: 20px;
}

.nav-icons ul li i:hover {
    color: #474747;
}

/* hero-section */
.hero-section {
    margin-top: 10em;
    text-align: center;
}

.hero-section ul {
    padding-bottom: 20px;
}

/* file-container box */

.file-main ul {
    display: inline-flex;
    align-items: center;
}

.file-main ul li {
    padding-right: 10px;
    color: #6B6B6B;
}

.file-container {
    width: 178px;
    height: 33px;
    border: 1px solid #6B6B6B;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    color: #6B6B6B;
}

.file-container i {
    padding-right: 8px;
    color: #6B6B6B;
    
}

.online-vector {
    height: 10px;
    width: 10px;
    background-color: #00A307;
    border-radius: 50%;
    display: inline-block;
}

/* hero-introduction */
